* {
    margin:0;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 110px;
}
#mobilemenubutton {
        display: none;
    }
    #mobilemenubuttonbottom {
        display: none;
    }
#mobilemenu {
    display: none;
}
#logo {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:900px;
    height:247px;
}
#menu li {
    display:inline-block;
    text-align:center;
    line-height:50px;
}
#menu div {
    padding-left: 10px;
    padding-right: 10px;
}
h3 {
    margin-bottom: 10px;
}
#menu div:hover {
    height:50px;
    padding-left: 10px;
    padding-right: 10px;
    background: -webkit-linear-gradient(#fc2626, #eb1f1f); /* For Safari */
    background: -o-linear-gradient(#fc2626, #eb1f1f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fc2626, #eb1f1f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fc2626, #eb1f1f); /* Standard syntax */
}
#menu {
    width:900px;
    margin-left:auto;
    margin-right:auto;
}
#header {
    position:relative;
    background: -webkit-linear-gradient(#ff7a22, #e86c1a); /* For Safari */
    background: -o-linear-gradient(#ff7a22, #e86c1a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff7a22, #e86c1a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff7a22, #e86c1a); /* Standard syntax */
    min-height:50px;
}
#menu a {
    text-decoration:none;
    color:black;
    font-family: "Tahoma", "Geneva", sans-serif;
}
#menu a:hover {
    text-decoration:none;
    color:white;
    font-family: "Tahoma", "Geneva", sans-serif;
}
#textbody {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    min-height:100%;
    font-family: "Tahoma", "Geneva", sans-serif;
    padding:20px;
}
#textbody p {
    margin-bottom:15px;
}
#textbody h1 {
    margin-bottom:18px;
}
#footer {
    background: -webkit-linear-gradient(#ff7a22, #e86c1a); /* For Safari */
    background: -o-linear-gradient(#ff7a22, #e86c1a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff7a22, #e86c1a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff7a22, #e86c1a); /* Standard syntax */
    height:50px;
    position: absolute;
    width: 100%;
    bottom: 50px;
}
#footertext {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    line-height:50px;
    text-align:center;
    font-family: "Tahoma", "Geneva", sans-serif;
}
body {
  background: url("/images/background.png") no-repeat;
}
#bottom {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color:#f4e39c;
    background: -webkit-linear-gradient(#f4e39c, #e6d796); /* For Safari */
    background: -o-linear-gradient(#f4e39c, #e6d796); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f4e39c, #e6d796); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f4e39c, #e6d796); /* Standard syntax */
    height:50px;
}
h2 {
    margin-bottom: 15px;
}
iframe {
  display: block;
  margin: 0 auto;
}
.error {
    color:red;
}
@media (max-width: 900px) {
    #logo {
        width:90%;
        height: auto;
    }
    #textbody {
        background:white;
    }
    #textbody {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }
    #footertext {
        width:100%;
    }
    #menu {
        width:90%;
    }
    body {
        top:0;
    }
}
@media (max-width: 643px) {
    #menu {
        display:none;
    }
    #header {
        display:none;
    }
    #bottom {
        display:none;
    }
    #footertext {
        background-color: #ffffff;
    }
    #buttonbackground {
        background: white;
    }
    #mobilemenubutton {
        display:block;
        width:100%;
        height: 50px;
        background: -webkit-linear-gradient(#ff7a22, #e86c1a); /* For Safari */
        background: -o-linear-gradient(#ff7a22, #e86c1a); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#ff7a22, #e86c1a); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#ff7a22, #e86c1a); /* Standard syntax */
        color:black;
        font-family: "Tahoma", "Geneva", sans-serif;
        text-align: center;
        line-height: 50px;
    }
    #mobilemenu {
        height: auto;
        width: 100%;
        position: absolute;
        background: -webkit-linear-gradient(#e86c1a, #ff7a22); /* For Safari */
        background: -o-linear-gradient(#e86c1a, #ff7a22); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#e86c1a, #ff7a22); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#e86c1a, #ff7a22); /* Standard syntax */
    }
    #mobilemenu a {
        color:black;
        font-family: "Tahoma", "Geneva", sans-serif;
        text-align: center;
        margin: auto;
        line-height: 50px;
        text-decoration: none;
    }
    #textbody {
        width:auto;
    }
}
