<img id="logo" src="/images/melodialogotrans.png" alt="logo" />
<div id="header">
        <div id="menubar">
            <ul id="menu">
                <li><a href="{{ site.url }}/"><div>Home</div></a></li>
                <li><a href="{{ site.url }}/about"><div>About</div></a></li>
                <li><a href="{{ site.url }}/group-lessons"><div>Group Lessons</div></a></li>
                <li><a href="{{ site.url }}/piano-lessons"><div>Piano</div></a></li>
                <li><a href="{{ site.url }}/voice-lessons"><div>Voice</div></a></li>
                <li><a href="{{ site.url }}/russian-music"><div>Russian Music</div></a></li>
                <li><a href="{{ site.url }}/contact"><div>Contact</div></a></li>
            </ul>
        </div>

    </div>
<div id="buttonbackground"><div id="mobilemenubutton">Menu</div>
    <div id="mobilemenu">
        <a href="{{ site.url }}/"><div>Home</div></a>
        <a href="{{ site.url }}/about"><div>About</div></a>
        <a href="{{ site.url }}/group-lessons"><div>Group Lessons</div></a>
        <a href="{{ site.url }}/piano-lessons"><div>Piano</div></a>
        <a href="{{ site.url }}/russian-music"><div>Russian Music</div></a>
        <a href="{{ site.url }}/contact"><div>Contact</div></a>
    </div>
    <div id="mobilemenubuttonbottom"></div>
    <div id="mobilemenubuttonbottomtwo"></div>
</div>
