<div id="logo-container" style="background: url('{{site.baseurl}}/images/background.png') no-repeat; background-size: cover;">
    <img id="logo" src="{{site.baseurl}}/images/melodialogotrans.png" alt="logo" />
</div>
<div id="header">
        <div id="menubar">
            <ul id="menu">
                <li><a href="{{ site.baseurl }}/"><div>Home</div></a></li>
                <li><a href="{{ site.baseurl }}/about"><div>About</div></a></li>
                <li><a href="{{ site.baseurl }}/group-lessons"><div>Group Lessons</div></a></li>
                <li><a href="{{ site.baseurl }}/piano-lessons"><div>Piano</div></a></li>
                <li><a href="{{ site.baseurl }}/voice-lessons"><div>Voice</div></a></li>
                <li><a href="{{ site.baseurl }}/balalaika-lessons"><div>Balalaika</div></a></li>
                <li><a href="{{ site.baseurl }}/russian-music"><div>Russian Music</div></a></li>
                <li><a href="{{ site.baseurl }}/contact"><div>Contact</div></a></li>
            </ul>
        </div>

    </div>
<div id="buttonbackground"><div id="mobilemenubutton">Menu</div>
    <div id="mobilemenu">
        <a href="{{ site.baseurl }}/"><div>Home</div></a>
        <a href="{{ site.baseurl }}/about"><div>About</div></a>
        <a href="{{ site.baseurl }}/group-lessons"><div>Group Lessons</div></a>
        <a href="{{ site.baseurl }}/piano-lessons"><div>Piano</div></a>
        <a href="{{ site.baseurl }}/voice-lessons"><div>Voice</div></a>
        <a href="{{ site.baseurl }}/balalaika-lessons"><div>Balalaika</div></a>
        <a href="{{ site.baseurl }}/russian-music"><div>Russian Music</div></a>
        <a href="{{ site.baseurl }}/contact"><div>Contact</div></a>
    </div>
    <div id="mobilemenubuttonbottom"></div>
    <div id="mobilemenubuttonbottomtwo"></div>
</div>
