<form id="register" method="post" action="https://formspree.io/liza@melodiamusiclessons.com">
      <h2>Student's information:</h2>
            <label for="cfname">First Name:</label><br /><input type="text" id="cfname" name="cfname" required><br /><br />
            <label for="clname">Last Name:</label><br /><input type="text" id="clname" name="clname" required><br /><br />
            <label for="bday">Date of birth:</label><br /><input type="date" id="bday" name="bday" required><br /><br />
            <h2>Parent/Guardian's information:</h2>
            <label for="fname">First Name:</label><br /><input type="text" id="fname" name="fname" required><br /><br />
            <label for="lname">Last Name:</label><br /><input type="text" id="lname" name="lname" required><br /><br />
            <label for="email">Email:</label><br /><input type="email" id="email" name="email" required><br /><br />
            <label for="phnumber">Phone number:</label><br /><input type="tel" id="phnumber" name="phnumber" required><br /><br />
            <label for="sphnumber">Secondary Phone number:</label><br /><input type="tel" id="sphnumber" name="sphnumber" required><br /><br />
            <h2>Class information:</h2>
            I am interested in the following options (check all that apply):<br /><br />
        <h3>Group Lessons:</h3>
            <input type="checkbox" name="preschool1" value="Do Re Mi"> Do Re Mi<br /><br />
            <!--<input type="checkbox" name="preschool2" value="Old MacDonald Had a Band"> Old MacDonald Had a Band<br /><br />-->
            <input type="checkbox" name="preschool3" value="Musical Train"> Musical Train<br /><br />

      <!--<h3>Elementary Lessons:</h3>
            <input type="checkbox" name="homeschool4" value="Summer Fun with Music Elementary"> Summer Fun with Music<br /><br />
            <input type="checkbox" name="homeschool1" value="The Orchestra"> The Orchestra<br /><br />
            <input type="checkbox" name="homeschool2" value="Discover Great Music"> Discover Great Music<br /><br />
            <input type="checkbox" name="homeschool3" value="Music of Russia"> Music of Russia<br /><br />-->

      <h3>Other Lessons:</h3>
            <input type="checkbox" name="piano" value="Piano Lessons"> Piano Lessons<br /><br />
            <input type="checkbox" name="voice" value="Voice Lessons"> Voice Lessons<br /><br />
            <input type="checkbox" name="rmp" value="Russian Music Presenations"> Russian Music Presentations<br /><br />

    <input type="submit" name="submit" value="Submit">
</form>
<script src="http://malsup.github.com/min/jquery.form.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/additional-methods.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/registrationValidation.js"></script>
